@import "./variables.css";
@import "./header.css";
@import "./footer.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--white);
  font-family: Playfair Display;
  color: var(--dark-grey);
}

.main {
  padding: 40px;
}

h1 {
  font-size: var(--large);
  font-family: Comfortaa;
  color: var(--light-grey);
}
h3 {
  font-size: var(--medium);
  font-family: Convergence;
}
h4,
h5 {
  font-size: var(--small);
  font-family: Convergence;
}
